* {
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;
}

#calc {
    display: flex;
    border: 2px solid black;
    height: 500px;
    width: 300px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#display {
    border: 2px dashed black;
    width: 280px;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#num-disp {
    font-family: monospace;
    padding: 0px;
    margin: 0px;
    font-size: xx-large;
}

#butt-cont {
    display: flex;
    width: 100%;
    height: 300px;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
}

#butt-cont div {
    border: 1px solid;
    font-size: xx-large;
}

.butt-row {
    display: flex;
    width: 100%; 
    justify-content: center;
    height: 100%; 
    align-items: center; 
    flex-direction: row;
    gap: 5px;
}

.butt {
    display: flex;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

#bksp-cont {
    width: fit-content;
    border: none;
}

#bksp {
    width: 100%;
    height: 50px;
    border
}
